<html>
<head>
	<link rel="stylesheet" href="/static/css/styles.css" type="text/css">
</head>
<body>
	<h2>Add a new course</h2>
	<form action="/add_course" method="post">
		Name: <input type="text" name="name" id="name"/>
		Discription: <textarea cols="25" rows="5" name="description" id="description"></textarea>
		<input class="button" type="submit"  value="Add"/>
	</form>
	<table>
		<thead>
			<th>Course Name</th>
			<th>Description</th>
			<th>Date Added</th>
			<th>Actions:</th>
		</thead>
		<tbody>
			{%for course in courses%}
				<tr>
					<td>{{course.title}}</td>
					<td>{{course.description}}</td>
					<td>{{course.created_at}}</td>
					<td><a href="/destroy_course/{{course.id}}">Remove</a></td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</body>
</html>
